<h1>Portfolio</h1>
<div class="portfolio">
  <% @work_pieces.each do |w| %>
    <div class="work-piece">
      <%= link_to portfolio_path(w) do %>
        <%= image_tag w.image.url(:medium) %>
      <% end %>
    </div>
  <% end %>
</div>
