nav {
  font-family: 'Open Sans', sans-serif;
  border-bottom: 1px solid black;

  ul {
    margin: 0;
    font-size: 0;

    -webkit-padding-start: 0;
    padding-left: 0;

    li {
      font-size: 1.3rem;
      padding-top: 0.8rem;
      padding-bottom: 0.8rem;
      padding-right: 1rem;
      padding-left: 1rem;
      display: inline-block;
      height: 100%;

      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}
