nav {
  border-top: 1px solid black;
  border-bottom: 1px solid black;

  ul {
    margin: 0;
    font-size: 0;

    -webkit-padding-start: 0;
    padding-left: 0;

    li {
      font-size: 0.8rem;
      padding-top: 0.8em;
      padding-bottom: 0.8em;
      padding-right: 1em;
      padding-left: 1em;
      display: inline-block;
      border-right: 1px solid black;
      height: 100%;
    }
  }
}
