/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html {
  min-height: 100%;
}

body {
  background: #aaaab7;  /* Old browsers */
  background: image-url("images/background.png") repeat-x;

  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pg0KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPg0KICA8bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+DQogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+DQogICAgPHN0b3Agb2Zmc2V0PSI3MCUiIHN0b3AtY29sb3I9IiNhYWFhYjciIHN0b3Atb3BhY2l0eT0iMSIvPg0KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNhYWFhYjciIHN0b3Atb3BhY2l0eT0iMSIvPg0KICA8L2xpbmVhckdyYWRpZW50Pg0KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPg0KPC9zdmc+);
  background: -moz-linear-gradient(top, white 0, #aaaab7 600px, #aaaab7 0); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(600px,#aaaab7), color-stop(0,#aaaab7)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0,#aaaab7 600px, #aaaab7 0); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0,#aaaab7 600px, #aaaab7 0); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0,#aaaab7 600px, #aaaab7 0); /* IE10+ */
  background: linear-gradient(to bottom, white 0,#aaaab7 600px, #aaaab7 0); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='white', endColorstr='#aaaab7',GradientType=0 ); /* IE6-8 */

  font-family: Helvetica;

  min-height: 100%;
  margin: 0 10%;
}

header {
  .site-logo-container {
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .site-name {
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Times new Roman';
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .site-logo {
    max-height: 300px;
  }
}

main {
  display: block;
  margin-left: 1em;
  margin-right: 1em;
}

h1 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

a.back-link {
  font-size: 0.9rem;
  color: #0056a2;

  &:visited {
    font-size: 0.9rem;
    color: #0056a2;
  }
}
