// Place all the styles related to the portfolio controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.portfolio {
  text-align: center;
}

.work-piece {
  display: inline-block;
  border: 5px solid white;
  width: 200px;
  height: 200px;
  vertical-align: top;
  position: relative;
  margin-top: 40px;
  margin-left: 40px;

  a {
    height: 100%;
    width: 100%;
    display: block;

    img {
      max-width: 200px;
      max-height: 200px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
  }
}

.work-piece-detail {
  margin-top: 1rem;
  overflow: auto;
  zoom: 1;

  img {
    border: 5px solid white;
    float: left;
    margin-right: 7rem;
  }


  .work-piece-image {
    width: 60%;
    border-right: 1px solid black;
    text-align: center;
    display: inline-block;

  }

  p {
    margin-right: 7rem;
  }

  h1 {
    margin-top: 0;
    text-align: center;
  }
}
